
	body {
		background-color: #D4CDCD;
	}

	h1, p {
		text-align: center; 
	}

	h2, p {
		font-style: italic;
	}

	h1 {
		
		font-size: 60px; 
		color: #C73A08; 
		font-style: oblique;
	}

	p {
		font-weight: 600; 
		font-size: 50px; 
		font-family: Times New Roman; 
		color: #185080; 
		margin-bottom: 50px;
	}

	h2 {
		color: #4CAF50; 
		font-family: 'Arial'; 
	}

	ul {
		list-style-type: square; 
		margin-left: 20px; 
		font-size: 20px;
	}

	li {
		color: #333; 
		margin-bottom: 8px;
	}

	#steps, #types { 
		font-family: 'Arial'; 
		margin-top: 60px; 
		font-style: italic;
	}
	
	#steps {
		color: #6E4C18;
	}
	
	#types {
		color: #0E4C18;	
	}

	ol {
		 margin-left: 20px; 
		 font-size: 20px;
	}
	
	table {
		 border-collapse: collapse;
		 width: 30%;
	 }
	 
	 th, td {
		 border: 1px solid #ddd;
		 padding: 10px;
		 text-align: left;
	 }
	 
	 th {
		 background-color: purple;
		 color: white;
	 }
	 
	 tr:nth-child(even) {
		background-color: #f2f2f2;
	 }
	 
	 tr:hover {
		background-color: #aaa;
	 }
